language: go

go:
  - 1.3
#  - 1.4
# see https://github.com/moovweb/gvm/pull/116 for why Go 1.4 is currently disabled

# let us have speedy Docker-based Travis workers
sudo: false

install:
  - export GOPATH=${TRAVIS_BUILD_DIR}/Godeps/_workspace:$GOPATH
  - export PATH=${TRAVIS_BUILD_DIR}/Godeps/_workspace/bin:$PATH
  - go get code.google.com/p/go.tools/cmd/vet
  - go get code.google.com/p/go.tools/cmd/cover
  - go get github.com/mattn/goveralls

script:
  - script/validate-dco
  - script/validate-gofmt
  - go vet ./...
  - go test -v -race ./...
  - script/coverage
