language: go

go:
  - 1.3
#  - 1.4
# see https://github.com/moovweb/gvm/pull/116 for why Go 1.4 is currently disabled

# let us have speedy Docker-based Travis workers
sudo: false

install:
  # Symlink below is needed for Travis CI to work correctly on personal forks of swarm
  - ln -s $HOME/gopath/src/github.com/${TRAVIS_REPO_SLUG///swarm/} $HOME/gopath/src/github.com/docker
  - export GOPATH=${TRAVIS_BUILD_DIR}/Godeps/_workspace:$GOPATH
  - export PATH=${TRAVIS_BUILD_DIR}/Godeps/_workspace/bin:$PATH
  - go get code.google.com/p/go.tools/cmd/vet
  - go get code.google.com/p/go.tools/cmd/cover
  - go get github.com/mattn/goveralls
  - go get github.com/golang/lint/golint
  - go get github.com/GeertJohan/fgt

script:
  - script/validate-gofmt
  - go vet ./...
  - fgt golint ./...
  # Lint shell files and make sure they are not space indented.
  - fgt find test/ -type f \( -name "*.sh" -or -name "*.bash" -or -name "*.bats" \) -exec grep -Hn -e "^ " {} \;
  - go test -v -race ./...
  - script/coverage
  - goveralls -service=travis-ci -coverprofile=goverage.report
